<h1>自由投稿一覧</h1>
<%= link_to '投稿する', new_free_choice_post_path, class: 'btn btn-success' %>
<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <td>名前</td>
      <td>詳しい説明</td>
      <td>牌</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @free_choice_posts.each do |post| %>
    <tr>
      <td><%= link_to post.name, free_choice_post_path(post) %></td>
      <td><%= post.description %></td>
      <td><% post.pais.split(',').each do |id| %>
        <%= image_tag id2pai(id).img %>
      <% end %>
      </td>
      <td>
        <%= link_to '編集', edit_free_choice_post_path(post), class: 'btn btn-primary' %>
        <%= link_to '削除', post, method: :delete, data: { confirm: "投稿「#{post.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
