<h1>編集する</h1>
<%= form_with model: @post do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name%>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit nil, class: 'btn btn-primary' %>
</p>
<% end %>
<% @post.pais.split(',').each do |id| %>
<%= image_tag id2pai(id).img %>
<% end %>
