


<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <td>name</td>
      <td>description</td>
      <td>pais</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.name, post_path(post) %></td>
      <td><%= post.description %></td>
      <td><% post.pais.split(',').each do |id| %>
        <%= image_tag @ps.id2pai(id).img %>
      <% end %>
      </td>
      <td>
        <%= link_to '編集', edit_post_path(post), class: 'btn btn-primary' %>
        <%= link_to '削除', post, method: :delete, data: { confirm: "投稿「#{post.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="app-title navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-brand">
    Mahjong1
  </div>

</div>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>
<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Navbar</a>
</nav>
