<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<p>この牌を投稿します。</p>
<% hand_pais = [] %>
<% (0..13).each do |i| %>
<% hand_pais << @pais[i.to_s] %>
<% end %>
<%
hand_pais_instance_array = hand_pais.map{|id| id2pai id}
hand_pais_instance_array.each do |pai|
%>

<%= image_tag pai.img %>
<% end %>

<% hand_pais_text = hand_pais.join(',') %>

<%= form_with model: @post do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name%>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
  <input type="hidden" name="post[pais]" value="<%= hand_pais_text %>">
<p>
  <%= f.submit nil, class: 'btn btn-primary' %>
</p>
<% end %>
