<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>name</th>
      <th>description</th>
      <th>pais</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @post.name %></td>
      <td><%= @post.description %></td>
      <td>
      <% @ps.make_pais_img_array_from_str(@post.pais).each do |img|%>
      <%= image_tag img %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<p>
  name:
  <%= @post.name %>
</p>

<p>
  description:
  <%= @post.description %>
</p>

<p>
  pais:
  <% @ps.make_pais_img_array_from_str(@post.pais).each do |img|%>
  <%= image_tag img %>
  <% end %>
  <% unless @post.pais.nil? %>
    <% @post.pais.split(',').each do |id| %>
      <%= image_tag @ps.id2pai(id).img %>
    <% end %>
  <% else %>
    <%= '牌のデータがありません。' %>
  <% end %>
</p>
<p>
  created_at:
  <%= @post.created_at %>
</p>
<p>
  updated_at:
  <%= @post.updated_at %>
</p>
<%= link_to '編集', edit_post_path, class: 'btn btn-primary' %>
<%= link_to '削除', @post, method: :delete, data: { confirm: "投稿「#{@post.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
