<h1>投稿確認ページ</h1>
<p>この牌を投稿する？</p>
<% (0..13).each do |i| %>
<% @pais["#{i}"] %>
<% end %>

<% @hand_pais = [] %>
<% (0..13).each do |i| %>
<% @hand_pais << @pais["#{i}"] %>
<% end %>

<p>
<%
hand_pais = @hand_pais.sort_by do |pai|
  id_pais.index pai
end
%>
<%
hand_pais_instance_array = hand_pais.map{|id| id2pai id}
hand_pais_instance_array.each do |pai|
%>
<%= image_tag pai.img %>
<% end %>

<%= form_tag('/posts/new', :method => :post) do %>
  <% hand_pais.each_with_index do |pai, index|%>
    <input name='ripai[selected_pais][<%= index %>]' type='hidden' value='<%= pai %>'>
  <% end %>
  <%= submit_tag '投稿', class: 'btn btn-primary' %>
<% end %>
</p>
