<div class = 'container'>
  <h1>牌生成ページ</h1>
  <p>「理牌」をクリックすると、牌を並べ替えて投稿画面へ遷移するよ。</p>
  <p>「更新」をクリックすると、新しい牌が表示されるよ。</p>
  <p>
  <%
  #{ "id" => Paiクラスのインスタンス }というハッシュの作成
  id_instance_hash = id.map.with_index {|id, i| [id, Pai.new(id, img[i])]}.to_h
  %>
  <% generate_random_id.each do |id| %>
  <%= image_tag id_instance_hash[id].img %>
  <% end %>

  </p>



  <div class="container">
    <%= form_with(url: '/ripai/after', method: :post, local: true) do %>
      <% @selected_pais.each_with_index do |pai, index|%>
        <input name='ripai[selected_pais][<%= index %>]' type='hidden' value='<%= pai %>'>
      <% end %>
      <%= submit_tag '理牌', class: 'btn btn-primary' %>
      <a href="#" class='btn btn-success'>更新</a>
    <% end %>

  </div>

  <div class="container">
    <h2>pais list</h2>
    <% id_instance_hash.each do |key, value| %>
    <%= key %>
    <%= image_tag value.img %>
    <% end %>

  </div>


</div>
