<h1>Ripai#before</h1>
<p>Find me in app/views/ripai/before.html.erb</p>
<p>
<% new_pais.each do |i| %>
<%= i %>
<% end %>

</p>


<%= form_tag('/ripai/after', :method => :post) do %>
  <% sorted_pais.each_with_index do |pai, index|%>

    <input name='ripai[sorted_pais][<%= index %>]' type='hidden' value='<%= pai %>'>
  <% end %>
  <!-- <button type="button" name="button" class='btn btn-primary'>理牌</button> -->
  <%= submit_tag '理牌', class: 'btn btn-primary' %>
  <a href="#" class='btn btn-primary'>aaaaa</a>
<% end %>
